extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              h1 Coding, Teaching and Learning Space
              |                 
              hr
              |                 
              p
                | Supreme Chi-Town Coding Crew organizes within <a href="http://freegeekchicago.org/" target='_new'>FreeGeekChicago</a>.  Provides programmers and hackers a space each Saturday to hack, interact with Senior and Junior developers, build relationships and coordinate on projects.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='http://www.meetup.com/Supreme-Chi-Town-Coding-Crew/' target='_new') Sign up now!
        |     
        section#about.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Who is SC<sup>3</sup>?
                |                     
                hr.light
                |                     
                p.text-faded
                  | Supreme Chi-Town Coding Crew(SC<sup>3</sup>) was founded by David Eads a fantastic python developer.  
                  br
                  br
                  | It's co-organizers consist of Marcin Ufniarz a front-end and JavaScript full-stack developer and Matt Woodyard an experience full-stack developer of 13 years. 
                  ul
                    li Developers with different technology and experience backgrounds.
                    li Seek to help non-profits.
                    li Seek to teach each other.
                    li Life Learners.
                    li Self-organizers and leaders.
                |                     
                a.btn.btn-default.btn-xl(href='#') Get Started!
        |     
        section#services
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading Powerful resource, at your finger tips.
                |                     
                hr.primary
          |         
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
                  |                         
                  h3 Open Space
                  |                         
                  p.text-muted Host a class.  Come to hack and make friends.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Lead Group Projects
                  |                         
                  p.text-muted Mentor others within your skill set.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 Everyone Welcome
                  |                         
                  p.text-muted Designers, Projects Managers, Developers and Editors all welcome to sit-in or participate!
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Hack on Code
                  |                         
                  p.text-muted Start new project ideas! Find open source projects you'll love.
        |     
        aside.bg-dark
          .container.text-center
            .call-to-action
              h2 Meet hackers like you!
              |                 
              a.btn.btn-default.btn-xl.wow.tada(href='http://www.meetup.com/Supreme-Chi-Town-Coding-Crew/' target='_new') Join us this weekend!
        | 
        <!--
        section#portfolio.no-padding
          .container-fluid
            .row.no-gutter
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/1.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Endurance Athlete
                      |                                 
                      .project-name
                        | Marge Simpson
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/2.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Weight Lifter
                      |                                 
                      .project-name
                        | Jack Johnson
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/3.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Endurance Athlete
                      |                                 
                      .project-name
                        | Reda Niman
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/4.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | CrossFitter
                      |                                 
                      .project-name
                        | Magnus Jorgenson
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/5.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Weight Lifter
                      |                                 
                      .project-name
                        | Liz Vasques
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/6.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | CrossFitter
                      |                                 
                      .project-name
                        | Fit Fittington
        |         -->
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Who we are
                |                     
                hr.primary
                |                     
                p
                  | SC<sup>3</sup>, building out ideas to improve our future.  Organizing classes and projects.  Helping new developers grow within their interests.
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p FreeGeek Chicago
                  br
                  | 773.342.6205
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                |                     
                p
                  a(href='mailto:marcinmu330@gmail.com') Email Marcin Ufniarz!
                  //a(href='mailto:huston@teamtreehouse.com') Email FreeGeekChicago!