doctype html
html(lang="en")
		include ./partials/_head.jade
		
		body#page-top
			include ./partials/_nav.jade
			block content


			script(src='/static/js/jquery.js')
			// Bootstrap Core JavaScript
			script(src='/static/js/bootstrap.min.js')
			// Plugins JavaScript
			script(src='/static/js/jquery.easing.min.js')
			script(src='/static/js/jquery.fittext.js')
			script(src='/static/js/wow.min.js')
			// Custom Theme JavaScript
			script(src='/static/js/creative.js')

			// Blog CKEditor JavaScript
			script(src='//cdn.ckeditor.com/4.5.9/full/ckeditor.js')
			if path === '/blog/create-post'
				script(src='/static/js/ckeditor-functions.js')

			if path === '/'
				// Member-Slider JavaScript
				script(type='text/javascript').
					var members = !{members};
				script(src='/static/js/member-slider.js')

			if path === '/blog'
				each post in posts       
					script(type='text/javascript').
						$('#posts').after("<section class='post'><div class='container'><div class='row'><div class='col-lg-8 col-lg-offset-2 text-center'><h2 class='section-heading'> #{post.title} </h2><hr class='light' /><p class='text-faded'> #{post.body} </p><a href='/blog/#{post._id}' class='btn btn-default btn-xl'> Read more!</a></div></div></section>");