extends ../layout.jade

block content
	header
		.header-content
			.header-content-inner
			if success_msg.length > 0
				.alert.alert-success
					| #{success_msg}

			if error.length > 0
				.alert.alert-danger
					| #{error}
					br
			if error_msg.length > 0
				.alert.alert-danger
					| #{error_msg}
					br