extends ../layout.jade

block content
	header
		.header-content
			.header-content-inner
				h2 Sign-In
				form(method='post', action='/users/sign-in')
					if success_msg !== ''
						.alert.alert-success
							| #{success_msg}

					if error !== ''
						.alert.alert-danger
							| #{error}
							br
					if error_msg !== ''
						.alert.alert-danger
							| #{error_msg}
							br
					.form-group
						label(for="email")
							| Email Address
						input#email.form-control(type="text", name="email", value="", placeholder="Email Address")
					.form-group
						label(for="password")
							| Password
						input#password.form-control(type="text", name="password", value="",  placeholder="Password")
					//.checkbox
						input#chck-rememberme(type="checkbox", name="chck-rememberme", value="")
						label(for="chck-rememberme")
							| Remember Me!
					button.btn.btn-default(type="submit")
						| Submit
				p
					a(href='/password-reset')
						| Can't access your account?